<div class="navbar navbar-static-top" style="margin-bottom:2em;">
	<div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="{{ path('index') }}">ensiname</a>
		    <ul class="nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Приборная панель
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{% if is_granted('ROLE_ADMIN') %}
				        <li><a href="{{ path('professor') }}">Преподаватели</a></li>
				        <li><a href="{{ path('aluno') }}">Студенты</a></li>
				        <li class="disabled"><a href="#">Заинтересованные лица</a></li>
				        <li class="disabled"><a href="#">Секретари</a></li>
				        <li><a href="{{ path('lingua_new') }}">Языки</a></li>
				        <li><a href="{{ path('grupo') }}">Группы</a></li>
				        <li><a href="{{ path('aula') }}">Уроки</a></li>
						{% endif %}
						{% if is_granted('ROLE_PROF') %}
				        <li><a href="{{ path('grupo') }}">Группы</a></li>
				        <li><a href="{{ path('aula_new') }}">Уроки</a></li>
						{% endif %}
				    </ul>
				</li>
			</ul>
		</div>
	</div>
</div>