<div class="navbar navbar-static-top" style="margin-bottom:2em;">
	<div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="{{ path('index') }}">ensiname</a>
		    <ul class="nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Приборная панель
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
				        <li><a href="{{ path('professor_new') }}">Преподаватели</a></li>
				        <li><a href="{{ path('aluno') }}">Студенты</a></li>
				        <li class="disabled"><a href="#">Заинтересованные лица</a></li>
				        <li class="disabled"><a href="#">Секретари</a></li>
				        <li><a href="{{ path('lingua_new') }}">Языки</a></li>
				        <li><a href="{{ path('grupo_new') }}">Группы</a></li>
				        <li class="disabled"><a href="#">Уроки</a></li>
				    </ul>
				</li>
			</ul>
		</div>
	</div>
</div>