{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('lingua_new') }}" class="btn btn-primary">Добавить новый язык</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Язык</th>
            <th>Примечания</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.titulo }}</td>
            <td>{{ entity.observacao }}</td>
            <td>
                <a href="{{ path('lingua_show', { 'id': entity.id }) }}"><i class="icon-large icon-eye-open"></i></a>
                <a href="{{ path('lingua_edit', { 'id': entity.id }) }}"><i class="icon-large icon-edit"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
