{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<dl class="dl-horizontal">
    <dt>Язык</dt>
    <dd>{{ entity.titulo }}</dd>

    <dt>Примечания</dt>
    <dd>{{ entity.observacao }}</dd>

    <dt>Студенты</dt>
    <dd>
        <ul>
            {% for aluno in alunos %}
            <li>{{ aluno }}</li>
            {% else %}
            <li>нет Студенты</li>
            {% endfor %}
        <ul>
    </dd>

    <dt>Преподаватели</dt>
    <dd>
        <ul>
            {% for professor in professores %}
            <li>{{ professor }}</li>
            {% else %}
            <li>нет Преподаватели</li>
            {% endfor %}
        <ul>
    </dd>

    <dt>Группы</dt>
    <dd>
        <ul>
            {% for grupo in grupos %}
            <li>{{ grupo }}</li>
            {% else %}
            <li>нет Группы</li>
            {% endfor %}
        <ul>
    </dd>
</dl>
{% endblock %}