<form action="{{ action }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <input type="hidden" name="_method" value="{{ method }}" />
    <fieldset>
        <legend>{{ legend }}</legend>
        <div class="control-group">
            <label class="control-label" for="titulo">titulo</label>
            <div class="controls">
                {{ form_widget(form.titulo) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lingua">lingua</label>
            <div class="controls">
                {{ form_widget(form.lingua) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="professor">professor</label>
            <div class="controls">
                {{ form_widget(form.professor) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="alunos">alunos</label>
            <div class="controls">
                {{ form_widget(form.alunos) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="horario">horario</label>
            <div class="controls">
                {{ form_widget(form.horario) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Добавить</button>
            </div>
        </div>
    </fieldset>
</form>