{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('grupo_new') }}" class="btn btn-primary">новую</a>
    <span class="pull-right">
        Филтр:
        <select id="linguas" class="input-small filtro">
            <option value="0">языки</option>
            {% for lingua in linguas %}
            <option>{{ lingua.titulo }}</option>
            {% endfor %}
        </select>
        <select id="professores" class="input-small filtro">
            <option value="0">преподаватель</option>
            {% for professor in professores %}
            <option>{{ professor.nome }}</option>
            {% endfor %}
        </select>
    </span>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Группа</th>
            <th>Язык</th>
            <th>преподаватель</th>
            <th>время</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.titulo }}</td>
            <td>{{ entity.lingua }}</td>
            <td>{{ entity.professor }}</td>
            <td>{{ entity.horario }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $('.filtro').change(function(){
        $('table tbody tr').each(function(){
            $(this).show();
        });
        $('.filtro').each(function(){
            var filtro = $(this).attr('id');
            var valor = $(this).val();
            if (valor != '0') {
                var coluna = (filtro == 'linguas') ? 2 : (
                        (filtro == 'professores') ? 3 : 0);
                $('table tbody tr').each(function(){
                    var linha = $(this);
                    var atual = 0;
                    linha.children().each(function(){
                        var celula = $(this).html();
                        if ((coluna == ++atual) && (celula.indexOf(valor) < 0)){
                            linha.hide();
                        }
                    });
                });
            }
        });
    });
</script>
{% endblock %}