<form action="{{ action }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <input type="hidden" name="_method" value="{{ method }}" />
    <fieldset>
        <legend>{{ legend }}</legend>
        <div class="control-group">
            <label class="control-label" for="nome">ФИО</label>
            <div class="controls">
                {{ form_widget(form.nome) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="nascimento">Дата дабовлении</label>
            <div class="controls">
                {{ form_widget(form.nascimento, {'attr': {'class': 'date'}}) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="linguas">Язык</label>
            <div class="controls">
                {{ form_widget(form.linguas) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="fone">Телефон</label>
            <div class="controls">
                {{ form_widget(form.fone) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Е-mail</label>
            <div class="controls">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="horario">Расписание</label>
            <div class="controls">
                {{ form_widget(form.horario) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="observacao">Примечания</label>
            <div class="controls">
                {{ form_widget(form.observacao) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="username">Логин</label>
            <div class="controls">
                {{ form_widget(form.username) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Пароль</label>
            <div class="controls">
                {{ form_widget(form.password) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Добавить</button>
            </div>
        </div>
    </fieldset>
</form>
