{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Professor list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Nascimento</th>
                <th>Linguas</th>
                <th>Fone</th>
                <th>Email</th>
                <th>Horario</th>
                <th>Observacao</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('professor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nome }}</td>
                <td>{{ entity.nascimento }}</td>
                <td>{{ entity.linguas }}</td>
                <td>{{ entity.fone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.horario }}</td>
                <td>{{ entity.observacao }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('professor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('professor_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('professor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
