{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<form action="{{ action }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <input type="hidden" name="_method" id="method" value="{{ method }}" />
    <input type="hidden" id="data" value="{{ data }}" />
    <fieldset>
        <legend>{{ legend }}</legend>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="control-group">
            <label class="control-label" for="professor">Преподаватель</label>
            <div class="controls">
                {{ form_widget(form.professor) }}
            </div>
        </div>
        {% endif %}

        {% if is_granted('ROLE_PROF') %}
        <input type="hidden" name="professor" id="professor" value="{{ app.user.id }}" />
        {% endif %}

        <div class="control-group">
            <label class="control-label" for="data">Дата урока</label>
            <div class="controls">
                {{ form_widget(form.data, {'attr': {'data-mask': '00/00/0000', 'class': 'datepicker'}}) }}
            </div>
        </div><div class="control-group">
            <label class="control-label" for="inicio">Время начала</label>
            <div class="controls">
                {{ form_widget(form.inicio, {'attr': {'data-mask': '00:00', 'class': 'timepicker'}}) }}
            </div>
        </div><div class="control-group">
            <label class="control-label" for="fim">Время окончании</label>
            <div class="controls">
                {{ form_widget(form.fim, {'attr': {'data-mask': '00:00', 'class': 'timepicker'}}) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="grupo">Группа</label>
            <div class="controls">
                {{ form_widget(form.grupo) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="presencas">Студенты</label>
            <div class="controls" id="presencas" style="height:100px;width:220px;overflow:auto;">
                {{ form_widget(form.presencas) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="dada">Статус урока</label>
            <div class="controls">
                {{ form_widget(form.dada) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="observacao">Примечания</label>
            <div class="controls">
                {{ form_widget(form.observacao) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Добавить</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.datepicker')
    .datepicker({ orientation: "top right", format: "dd/mm/yyyy", autoclose: true })
    .on('hide', function(e) { $(this).keyup(); });

$('.timepicker').timepicker({
    minuteStep: 1,
    showInputs: false,
    disableFocus: false,
    showMeridian: false,
    defaultTime: false
});

var data = $.parseJSON($('#data').val());

{% if is_granted('ROLE_ADMIN') %}
$('#ist_bundle_ensinamebundle_aulatype_professor').change(function() {
    $('#ist_bundle_ensinamebundle_aulatype_grupo').show();
    $('#ist_bundle_ensinamebundle_aulatype_grupo').parent().children('.no-group').remove();
    $('#presencas').parent().show();
    var professorSelecionado = $(this).val();
    var grupoSelecionado = $('#ist_bundle_ensinamebundle_aulatype_grupo').val();
    var primeiro = ($('#method').val() == "POST") ? true : (grupoSelecionado ? false : true);
    $('#ist_bundle_ensinamebundle_aulatype_grupo option').each(function() {
        $(this).show();
        $(this).removeAttr('disabled');
        var fica = false;
        for (professor in data)
            if (professorSelecionado == professor)
                for (grupo in data[professor])
                    if ($(this).val() == grupo)
                        fica = true;
        if (!fica) {
            $(this).hide();
            $(this).attr('disabled', 'disabled');
        } else {
            if (primeiro || ($(this).val() == grupoSelecionado)) {
                $(this).attr('selected', 'selected');
                primeiro = false;
            }
        }
    });
    if ($('#ist_bundle_ensinamebundle_aulatype_grupo option').size() == $('#ist_bundle_ensinamebundle_aulatype_grupo option[disabled="disabled"]').size()) {
        $('#ist_bundle_ensinamebundle_aulatype_grupo').hide();
        $('#ist_bundle_ensinamebundle_aulatype_grupo').parent().append('<span class="no-group">Нет группы, зарегистрированной для преподавателя</span>');
        $('#presencas').parent().hide();
    } else {
        $('#ist_bundle_ensinamebundle_aulatype_grupo').change();
    }
});
$('#ist_bundle_ensinamebundle_aulatype_professor').change();
{% endif %}

{% if is_granted('ROLE_PROF') %}
var grupoSelecionado = $('#ist_bundle_ensinamebundle_aulatype_grupo').val();
var primeiro = ($('#method').val() == "POST") ? true : (grupoSelecionado ? false : true);
$('#ist_bundle_ensinamebundle_aulatype_grupo option').each(function() {
    $(this).show();
    $(this).removeAttr('disabled');
    var fica = false;
    for (professor in data)
        if ($('#professor').val() == professor)
            for (grupo in data[professor])
                if ($(this).val() == grupo)
                    fica = true;
    if (!fica) {
        $(this).hide();
        $(this).attr('disabled', 'disabled');
    } else {
        if (primeiro || ($(this).val() == grupoSelecionado)) {
            $(this).attr('selected', 'selected');
            primeiro = false;
        }
    }
});
{% endif %}

$('#ist_bundle_ensinamebundle_aulatype_grupo').change(function() {
    $('#presencas').parent().show();
    var grupoSelecionado = $(this).val();

    {% if is_granted('ROLE_ADMIN') %}
    var professorSelecionado = $('#ist_bundle_ensinamebundle_aulatype_professor').val();
    {% endif %}

    {% if is_granted('ROLE_PROF') %}
    var professorSelecionado = $('#professor').val();
    {% endif %}

    $('#presencas label').each(function() {
        $(this).show();
        $(this).removeAttr('disabled');
        var fica = false;
        for (professor in data)
            if (professorSelecionado == professor)
                for (grupo in data[professor])
                    if (grupoSelecionado == grupo)
                        for (aluno in data[professor][grupo])
                            if ($(this).attr('for').split("_").pop() == data[professor][grupo][aluno])
                                fica = true;
        if (!fica) {
            $(this).hide();
            $(this).attr('disabled', 'disabled');
        }
    });
    if ($('#presencas label').size() == $('#presencas label[disabled="disabled"]').size()) {
        $('#presencas').parent().hide();
    }
});
$('#ist_bundle_ensinamebundle_aulatype_grupo').change();

$("form").submit(function(event) {
    var inicio = parseInt($('#ist_bundle_ensinamebundle_aulatype_inicio').val().replace(':', '')),
        fim = parseInt($('#ist_bundle_ensinamebundle_aulatype_fim').val().replace(':', ''));
    if (fim >= inicio) {
        return;
    }
    $('#ist_bundle_ensinamebundle_aulatype_inicio').focus();
    alert('a hora de fim não pode ser menor que a hora de inicio!');
    event.preventDefault();
});
</script>
{% endblock %}
