{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aula list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Professor</th>
                <th>Data</th>
                <th>Grupo</th>
                <th>Presencas</th>
                <th>Dada</th>
                <th>Observacao</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('aula_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.professor }}</td>
                <td>{{ entity.data }}</td>
                <td>{{ entity.grupo }}</td>
                <td>{{ entity.presencas }}</td>
                <td>{{ entity.dada }}</td>
                <td>{{ entity.observacao }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('aula_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('aula_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('aula_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
