{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('aula_new') }}" class="btn btn-primary">Новый</a>
    <span class="pull-right">
        Филтр:
        <select id="grupos" class="input-small filtro">
            <option value="0">Группы</option>
            {% for grupo in grupos %}
            <option>{{ grupo.titulo }}</option>
            {% endfor %}
        </select>
        С:
        <input type="text" id="dataMin" class="input-small" maxlength="10" data-mask="00/00/0000" />
        До:
        <input type="text" id="dataMax" class="input-small" maxlength="10" data-mask="00/00/0000" />
    </span>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Дата урока</th>
            <th>Группы</th>
            <th>Статус урока</th>
            <th>Примечания</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('aula_show', { 'id': entity.id }) }}">{{ entity.data }}</a></td>
            <td>{{ entity.grupo }}</td>
            <td>{{ entity.dada|replace({'s': 'проведен', 'n': 'отменен'}) }}</td>
            <td>{{ entity.observacao }}</td>
            <td><a href="{{ path('aula_delete', { 'id': entity.id }) }}"><i class="icon-large icon-remove"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var filtraMin = false, filtraMax = false;
var filtros = 0;
function mostraTudo() {
    $('table tbody tr').each(function() {
        $(this).show();
    });
}
function controlaFiltro() {
    filtros++;
    if (filtros < 2) {
        return true;
    } else {
        filtros = 0;
        return false;
    }
}
$('#dataMin, #dataMax').keyup(function() {
    var aplica = false;
    if ($(this).val().length < 10) {
        mostraTudo();
        if ($(this).attr('id') == 'dataMin' && $('#dataMax').val().length == 10) {
            $('#dataMax').keyup();
        }
        if ($(this).attr('id') == 'dataMax' && $('#dataMin').val().length == 10) {
            $('#dataMin').keyup();
        }
        aplica = true;
    }
    if ($(this).val().length == 10) {
        var dataMin = $('#dataMin').val(), dataMax = $('#dataMax').val();
        if (dataMin.length == 10) {
            dataMin = dataMin.split('/');
        }
        if (dataMax.length == 10) {
            var dataMax = dataMax.split('/');
        }
        $('table tbody tr').each(function() {
            var data = $(this).children().children().html().split('/');
            if (dataMin.length = 3) {
                data[2] = parseInt(data[2]);
                dataMin[2] = parseInt(dataMin[2]);
                if (data[2] < dataMin[2]) {
                    $(this).hide();
                } else {
                    if (data[2] == dataMin[2]) {
                        data[1] = parseInt(data[1]);
                        dataMin[1] = parseInt(dataMin[1]);
                        if (data[1] < dataMin[1]) {
                            $(this).hide();
                        } else {
                            if (data[1] == dataMin[1]) {
                                if (parseInt(data[0]) < parseInt(dataMin[0])) {
                                    $(this).hide();
                                }
                            }
                        }
                    }
                }
            }
            if (dataMax.length = 3) {
                data[2] = parseInt(data[2]);
                dataMax[2] = parseInt(dataMax[2]);
                if (data[2] > dataMax[2]) {
                    $(this).hide();
                } else {
                    if (data[2] == dataMax[2]) {
                        data[1] = parseInt(data[1]);
                        dataMax[1] = parseInt(dataMax[1]);
                        if (data[1] > dataMax[1]) {
                            $(this).hide();
                        } else {
                            if (data[1] == dataMax[1]) {
                                if (parseInt(data[0]) > parseInt(dataMax[0])) {
                                    $(this).hide();
                                }
                            }
                        }
                    }
                }
            }
        });
        aplica = true;
    }
    if (aplica && controlaFiltro()) {
        $('.filtro').change();
    }
});
$('.filtro').change(function() {
    if ($('.filtro').val() == 0 && filtros == 0) {
        mostraTudo();
    }
    $('.filtro').each(function() {
        var filtro = $(this).attr('id');
        var valor = $(this).val();
        if (valor != '0') {
            var coluna = (filtro == 'grupos') ? 2 : 0;
            $('table tbody tr').each(function() {
                var linha = $(this);
                var atual = 0;
                linha.children().each(function() {
                    var celula = $(this).html();
                    if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                        linha.hide();
                    }
                });
            });
        }
    });
    if (controlaFiltro()) {
        $('#dataMin').keyup();
        $('#dataMax').keyup();
    }
});
</script>
{% endblock %}
