{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('aula_new') }}" class="btn btn-primary">Добавить новый урок</a>
    <span class="pull-right">
        Фильтр:
        <select id="grupos" class="input-small filtro">
            <option value="0">Группы</option>
            {% for grupo in grupos %}
            <option>{{ grupo.titulo }}</option>
            {% endfor %}
        </select>
        {% if is_granted('ROLE_ADMIN') %}
        <select id="professores" class="input-small filtro">
            <option value="0">professor</option>
            {% for professor in professores %}
            <option>{{ professor.nome }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <select id="linguas" class="input-small filtro">
            <option value="0">lingua</option>
            {% for lingua in linguas %}
            <option>{{ lingua.titulo }}</option>
            {% endfor %}
        </select>
        <select id="status" class="input-small filtro">
            <option value="0">Статус урока</option>
            <option>проведен</option>
            <option>отменен</option>
        </select>
        С:
        <input type="text" id="dataMin" class="input-small datepicker" maxlength="10" data-mask="00/00/0000" data-original="{{ dataMin }}" value="{{ dataMin }}" />
        До:
        <input type="text" id="dataMax" class="input-small datepicker" maxlength="10" data-mask="00/00/0000" data-original="{{ dataMax }}" value="{{ dataMax }}" />
    </span>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Дата урока</th>
            <th>Группы</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>professor</th>
            {% endif %}
            <th>lingua</th>
            <th>Статус урока</th>
            <th>Примечания</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="contador"><a href="{{ path('aula_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td class="data">{{ entity.data|date("d/m/Y") }}</td>
            <td class="grupo">{{ entity.grupo }}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td class="professor">{{ entity.professor }}</td>
            {% endif %}
            <td class="lingua">{{ entity.lingua }}</td>
            <td>{{ entity.dada|replace({'s': 'проведен', 'n': 'отменен'}) }}</td>
            <td>{{ entity.observacao }}</td>
            <td>
                <a href="{{ path('aula_edit', { 'id': entity.id }) }}"><i class="icon-large icon-edit"></i></a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('aula_delete', { 'id': entity.id }) }}" class="confirm"><i class="icon-large icon-remove"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.confirm').click(function(){
    return confirm('Deseja mesmo excluir?');
});

$('.datepicker')
    .datepicker({ orientation: "top right", format: "dd/mm/yyyy", autoclose: true })
    .on('hide', function(e) { $(this).keyup(); });

var filtros = 0;

function controlaFiltro() {
    filtros++;
    {% if is_granted('ROLE_ADMIN') %}
    if (filtros < 6) {
    {% else %}
    if (filtros < 5) {
    {% endif %}
        return true;
    } else {
        filtros = 0;
        contador();
        return false;
    }
}

function mostraTudo() {
    $('table tbody tr').each(function() {
        $(this).show();
    });
}

function contador() {
    var contador = 1;
    $('table tbody tr').each(function() {
        if ($(this).is(":visible")) {
            $(this).children(".contador").children("a").html(contador++);
        }
    });
}

contador();

$('#grupos').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        var coluna = 3;
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        {% if is_granted('ROLE_ADMIN') %}
        $('#professores').change();
        {% endif %}
        {% if is_granted('ROLE_PROF') %}
        $('#linguas').change();
        {% endif %}
    }
});

{% if is_granted('ROLE_ADMIN') %}
$('#professores').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        var coluna = 4;
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        $('#linguas').change();
    }
});
{% endif %}

$('#linguas').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        var coluna = 5;
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        $('#status').change();
    }
});

$('#status').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        var coluna = 6;
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        $('#dataMin').keyup();
    }
});

$('#dataMin').keyup(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    if ($(this).val().length == 10) {
        var dataMin = $(this).val().split('/');
        dataMin[0] = parseInt(dataMin[0]);
        dataMin[1] = parseInt(dataMin[1]);
        dataMin[2] = parseInt(dataMin[2]);
        $('table tbody tr').each(function() {
            var data = $(this).children(".data").html().split('/');
            data[0] = parseInt(data[0]);
            data[1] = parseInt(data[1]);
            data[2] = parseInt(data[2]);
            if ((data[2] < dataMin[2])
                    || ((data[2] == dataMin[2]) && (data[1] < dataMin[1]))
                    || ((data[1] == dataMin[1]) && (data[0] < dataMin[0]))) {
                $(this).hide();
            }
        });
    }
    if (controlaFiltro()) {
        $('#dataMax').keyup();
    }
});

$('#dataMax').keyup(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    if ($(this).val().length == 10) {
        var dataMax = $(this).val().split('/');
        dataMax[0] = parseInt(dataMax[0]);
        dataMax[1] = parseInt(dataMax[1]);
        dataMax[2] = parseInt(dataMax[2]);
        $('table tbody tr').each(function() {
            var data = $(this).children(".data").html().split('/');
            data[0] = parseInt(data[0]);
            data[1] = parseInt(data[1]);
            data[2] = parseInt(data[2]);
            if ((data[2] > dataMax[2])
                    || ((data[2] == dataMax[2]) && (data[1] > dataMax[1]))
                    || ((data[1] == dataMax[1]) && (data[0] > dataMax[0]))) {
                $(this).hide();
            }
        });
    }
    if (controlaFiltro()) {
        $('#grupos').change();
    }
});

$('#dataMin').keyup();
</script>
{% endblock %}
