{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('aula_new') }}" class="btn btn-primary">Добавить новый урок</a>
    <span class="pull-right">
        Фильтр:
        <select id="grupos" class="input-small filtro">
            <option value="0">Группа</option>
            {% for grupo in grupos %}
            <option>{{ grupo.titulo }}</option>
            {% endfor %}
        </select>
        {% if is_granted('ROLE_ADMIN') %}
        <select id="professores" class="input-small filtro">
            <option value="0">Преподаватель</option>
            {% for professor in professores %}
            <option>{{ professor.nome }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <select id="linguas" class="input-small filtro">
            <option value="0">Язык</option>
            {% for lingua in linguas %}
            <option>{{ lingua.titulo }}</option>
            {% endfor %}
        </select>
        <select id="status" class="input-small filtro">
            <option value="0">Статус урока</option>
            <option>проведен</option>
            <option>отменен</option>
        </select>
        С …:
        <input type="text" id="dataMin" class="input-small datepicker" maxlength="10" data-mask="00/00/0000" value="{{ dataMin }}" />
        До …:
        <input type="text" id="dataMax" class="input-small datepicker" maxlength="10" data-mask="00/00/0000" value="{{ dataMax }}" />
        С …:
        <input type="text" id="horarioMin" class="input-mini timepicker" maxlength="5" data-mask="00:00" />
        До …:
        <input type="text" id="horarioMax" class="input-mini timepicker" maxlength="5" data-mask="00:00" />
    </span>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Дата урока</th>
            <th>Время</th>
            <th>Группа</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Преподаватель</th>
            {% endif %}
            <th>Язык</th>
            <th>Статус урока</th>
            <th>Примечания</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td class="contador"><a href="{{ path('aula_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td class="data">{{ entity.data|date("d/m/Y") }}</td>
            <td class="horario">{{ entity.horario }}</td>
            <td class="grupo">{{ entity.grupo }}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td class="professor">{{ entity.professor }}</td>
            {% endif %}
            <td class="lingua">{{ entity.lingua }}</td>
            <td>{{ entity.dada|replace({'s': 'проведен', 'n': 'отменен'}) }}</td>
            <td>{{ entity.observacao }}</td>
            <td>
                <a href="{{ path('aula_edit', { 'id': entity.id }) }}"><i class="icon-large icon-edit"></i></a>
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('aula_delete', { 'id': entity.id }) }}" class="confirm"><i class="icon-large icon-remove"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.confirm').click(function(){
    return confirm('Удалить?');
});

$('.datepicker')
    .datepicker({ orientation: "top right", format: "dd/mm/yyyy", autoclose: true })
    .on('hide', function(e) { $(this).keyup(); });

var filtros = 0;

function controlaFiltro() {
    filtros++;
    {% if is_granted('ROLE_ADMIN') %}
    if (filtros < 8) {
    {% else %}
    if (filtros < 7) {
    {% endif %}
        return true;
    } else {
        filtros = 0;
        contador();
        return false;
    }
}

function mostraTudo() {
    $('table tbody tr').each(function() {
        $(this).show();
    });
}

function contador() {
    var contador = 1;
    $('table tbody tr').each(function() {
        if ($(this).is(":visible")) {
            $(this).children(".contador").children("a").html(contador++);
        }
    });
}

contador();

$('#grupos').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        var coluna = 4;
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        {% if is_granted('ROLE_ADMIN') %}
        $('#professores').change();
        {% endif %}
        {% if is_granted('ROLE_PROF') %}
        $('#linguas').change();
        {% endif %}
    }
});

{% if is_granted('ROLE_ADMIN') %}
$('#professores').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        var coluna = 5;
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        $('#linguas').change();
    }
});
{% endif %}

$('#linguas').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        {% if is_granted('ROLE_ADMIN') %}
        var coluna = 6;
        {% else %}
        var coluna = 5;
        {% endif %}
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        $('#status').change();
    }
});

$('#status').change(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    var valor = $(this).val();
    if (valor != '0') {
        {% if is_granted('ROLE_ADMIN') %}
        var coluna = 7;
        {% else %}
        var coluna = 6;
        {% endif %}
        $('table tbody tr').each(function() {
            var linha = $(this);
            var atual = 0;
            linha.children().each(function() {
                var celula = $(this).html();
                if ((coluna == ++atual) && (celula.indexOf(valor) < 0)) {
                    linha.hide();
                }
            });
        });
    }
    if (controlaFiltro()) {
        $('#dataMin').keyup();
    }
});

$('#dataMin').keyup(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    if ($(this).val().length == 10) {
        var dataMin = moment($(this).val(), 'DD-MM-YYYY');
        $('table tbody tr').each(function() {
            var data = moment($(this).children(".data").html(), 'DD-MM-YYYY');
            if (data.isBefore(dataMin)) {
                $(this).hide();
            }
        });
    }
    if (controlaFiltro()) {
        $('#dataMax').keyup();
    }
});

$('#dataMax').keyup(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    if ($(this).val().length == 10) {
        var dataMax = moment($(this).val(), 'DD-MM-YYYY');
        $('table tbody tr').each(function() {
            var data = moment($(this).children(".data").html(), 'DD-MM-YYYY');
            if (data.isAfter(dataMax)) {
                $(this).hide();
            }
        });
    }
    if (controlaFiltro()) {
        $('#horarioMin').keyup();
    }
});

$('#horarioMin').keyup(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    if ($(this).val().length == 5) {
        var horarioMin = parseInt($(this).val().replace(':', ''));
        $('table tbody tr').each(function() {
            var horario = $(this).children(".horario").html();
            if (typeof horario == 'string' || horario instanceof String) {
                horario = horario.split(' - ');
                var inicio = parseInt(horario[0].replace(':', ''));
                var fim = parseInt(horario[1].replace(':', ''));
                if ((inicio < horarioMin) && (fim < horarioMin)) {
                    $(this).hide();
                }
            }
        });
    }
    if (controlaFiltro()) {
        $('#horarioMax').keyup();
    }
});

$('#horarioMax').keyup(function() {
    if (filtros == 0) {
        mostraTudo();
    }
    if ($(this).val().length == 5) {
        var horarioMin = parseInt($(this).val().replace(':', ''));
        $('table tbody tr').each(function() {
            var horario = $(this).children(".horario").html();
            if (typeof horario == 'string' || horario instanceof String) {
                horario = horario.split(' - ');
                var inicio = parseInt(horario[0].replace(':', ''));
                var fim = parseInt(horario[1].replace(':', ''));
                if ((inicio > horarioMin) && (fim > horarioMin)) {
                    $(this).hide();
                }
            }
        });
    }
    if (controlaFiltro()) {
        $('#grupos').change();
    }
});

$('#grupos').change();
</script>
{% endblock %}
