{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<dl class="dl-horizontal">
    <dt>преподаватель</dt>
    <dd>{{ entity.professor }}</dd>

    <dt>дате класс</dt>
    <dd>{{ entity.data }}</dd>

    <dt>группа</dt>
    {% if entity.grupo.id is defined %}
    <dd><a href="{{ path('grupo_show', { 'id': entity.grupo.id }) }}">{{ entity.grupo.titulo }}</a></dd>
    {% else %}
    <dd>{{ entity.grupo }}</dd>
    {% endif %}

    <dt>студентам</dt>
    <dd>
        {% if entity.presencas %}
        <ul>
            {% for presenca in entity.presencas %}
            <li>{{ presenca }}</li>
            {% endfor %}
        <ul>
        {% else %}
        &nbsp;
        {% endif %}
    </dd>
    
    <dt>лекции</dt>
    <dd>{{ entity.dada|replace({'s': 'да', 'n': 'не'}) }}</dd>
    
    <dt>примечания</dt>
    <dd>{{ entity.observacao }}</dd>
</dl>
{% endblock %}
