{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<dl class="dl-horizontal">
    <dt>Преподаватель</dt>
    <dd>{{ entity.professor }}</dd>

    <dt>Дата урока</dt>
    <dd>{{ entity.data|date("d/m/Y") }}</dd>

    <dt>Группа</dt>
    {% if entity.grupo.id is defined %}
    <dd><a href="{{ path('grupo_show', { 'id': entity.grupo.id }) }}">{{ entity.grupo.titulo }}</a></dd>
    {% else %}
    <dd>{{ entity.grupo }}</dd>
    {% endif %}

    <dt>Студенты</dt>
    <dd>
        {% if entity.presencas %}
        <ul>
            {% for presenca in entity.presencas %}
            <li>{{ presenca }}</li>
            {% endfor %}
        <ul>
        {% else %}
        &nbsp;
        {% endif %}
    </dd>
    
    <dt>Статус урока</dt>
    <dd>{{ entity.dada|replace({'s': 'проведен', 'n': 'отменен'}) }}</dd>
    
    <dt>Примечания</dt>
    <dd>{{ entity.observacao }}</dd>
</dl>
{% endblock %}
