{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('interessado_new') }}" class="btn btn-primary">Novo</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Fone</th>
            <th>Email</th>
            <th>Linguas</th>
            <th>Fonte</th>
            <th>Estudo</th>
            <th>Inicio</th>
            <th>Horario</th>
            <th>Chamada</th>
            <th>Status</th>
            <th>Observacao</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nome }}</td>
            <td>{{ entity.fone }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.linguas }}</td>
            <td>{{ entity.fonte }}</td>
            <td>{{ entity.estudo|replace({'g': 'в группе', 'i': 'индивидуально', 's': 'skype'}) }}</td>
            <td>{% if entity.inicio %}{{ entity.inicio|date('d/m/Y') }}{% endif %}</td>
            <td>{{ entity.horario }}</td>
            <td>{% if entity.chamada %}{{ entity.chamada|date('d/m/Y') }}{% endif %}</td>
            <td>{{ entity.status|replace({'l': 'ligou', 'c': 'concordou', 'd': 'discordou', 'r': 'recontactar', 'd': 'desinteressou', 'i': 'iniciou'}) }}</td>
            <td>{{ entity.observacao }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
{% endblock %}
