{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('aluno_new') }}" class="btn btn-primary">Новый</a>
    <span class="pull-right">
        Филтр:
        <select id="estudo" class="input-small filtro">
            <option value="0">форма обучения</option>
            <option>в группе</option>
            <option>индивидуально</option>
        </select>
        <select id="linguas" class="input-small filtro">
            <option value="0">языки</option>
            {% for lingua in linguas %}
            <option>{{ lingua.titulo }}</option>
            {% endfor %}
        </select>
        <select id="grupos" class="input-small filtro">
            <option value="0">группы</option>
            {% for grupo in grupos %}
            <option>{{ grupo.titulo }}</option>
            {% endfor %}
        </select>
        <select id="status" class="input-small filtro">
            <option value="0">статус</option>
            <option>активен</option>
            <option>пауза</option>
            <option>не активен</option>
        </select>
    </span>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>дата рождения</th>
            <th>телефон</th>
            <th>Email</th>
            <th>форма обучения</th>
            <th>языки</th>
            <th>группы</th>
            <th>статус</th>
            <th>примечания</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('aluno_edit', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
            <td>{% if entity.nascimento %}{{ entity.nascimento }}{% endif %}</td>
            <td>{{ entity.fone }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.estudo|replace({'g': 'в группе', 'i': 'индивидуально'}) }}</td>
            <td>{{ entity.linguas }}</td>
            <td>{{ alunos[entity.id] }}</td>
            <td>{{ entity.status|replace({'a': 'активен', 'p': 'пауза', 'd': 'не активен'}) }}</td>
            <td>{{ entity.observacao }}</td>
            <td><a href="{{ path('aluno_delete', { 'id': entity.id }) }}"><i class="icon-large icon-remove"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $('.filtro').change(function(){
        $('table tbody tr').each(function(){
            $(this).show();
        });
        $('.filtro').each(function(){
            var filtro = $(this).attr('id');
            var valor = $(this).val();
            if (valor != '0') {
                var coluna = (filtro == 'estudo') ? 5 : (
                    (filtro == 'linguas') ? 6 : (
                        (filtro == 'grupos') ? 7 : (
                            (filtro == 'status') ? 8 : 0)));
                $('table tbody tr').each(function(){
                    var linha = $(this);
                    var atual = 0;
                    linha.children().each(function(){
                        var celula = $(this).html();
                        if ((coluna == ++atual) && (celula.indexOf(valor) < 0)){
                            linha.hide();
                        }
                    });
                });
            }
        });
    });
</script>
{% endblock %}