{% extends 'IstEnsinameBundle:Default:dashboard.html.twig' %}

{% block content %}
<p>
    <a href="{{ path('aluno_new') }}" class="btn btn-primary">Добавить нового студента</a>
    <span class="pull-right">
        Фильтр:
        <select id="estudo" class="input-small filtro">
            <option value="0">Форма обучения</option>
            <option>в группе</option>
            <option>индивидуально</option>
        </select>
        <select id="linguas" class="input-small filtro">
            <option value="0">Языки</option>
            {% for lingua in linguas %}
            <option>{{ lingua.titulo }}</option>
            {% endfor %}
        </select>
        <select id="grupos" class="input-small filtro">
            <option value="0">Группы</option>
            {% for grupo in grupos %}
            <option>{{ grupo.titulo }}</option>
            {% endfor %}
        </select>
        <select id="status" class="input-small filtro">
            <option value="0">Статус</option>
            <option>активен</option>
            <option>пауза</option>
            <option>не активен</option>
        </select>
    </span>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>ФИО</th>
            <th>Дата начала обучения</th>
            <th>Телефон</th>
            <th>E-mail</th>
            <th>Форма обучения</th>
            <th>Языки</th>
            <th>Группы</th>
            <th>Статус</th>
            <th>Примечания</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr {% if entity.ferias|date("Ymd") >= "now"|date("Ymd") and entity.status != "f" %}class="error"{% endif %}>
            <td class="contador">{{ entity.id }}</td>
            <td>{{ entity.nome }}</td>
            <td>{% if entity.nascimento %}{{ entity.nascimento|date("d/m/Y") }}{% endif %}</td>
            <td>{{ entity.fone }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.estudo|replace({'g': 'в группе', 'i': 'индивидуально'}) }}</td>
            <td>{{ entity.linguas }}</td>
            <td>
                <ul class="inline">
                    {% for grupo in alunos[entity.id] %}
                    <li><a href="{{ path('grupo_show', { 'id': grupo.id }) }}">{{ grupo.titulo }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ entity.status|replace({'a': 'активен', 'p': 'пауза', 'd': 'не активен', 'f': 'sair de férias'}) }}</td>
            <td>{{ entity.observacao }}</td>
            <td>
                <a href="{{ path('aluno_edit', { 'id': entity.id }) }}"><i class="icon-large icon-edit"></i></a>
                <a href="{{ path('aluno_delete', { 'id': entity.id }) }}" class="confirm"><i class="icon-large icon-remove"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.confirm').click(function(){
    return confirm('Удалить?');
});

function contador() {
    var contador = 1;
    $('table tbody tr').each(function() {
        if ($(this).is(":visible")) {
            $(this).children(".contador").html(contador++);
        }
    });
}

contador();

$('.filtro').change(function(){
    $('table tbody tr').each(function(){
        $(this).show();
    });
    $('.filtro').each(function(){
        var filtro = $(this).attr('id');
        var valor = $(this).val();
        if (valor != '0') {
            var coluna = (filtro == 'estudo') ? 6 : (
                (filtro == 'linguas') ? 7 : (
                    (filtro == 'grupos') ? 8 : (
                        (filtro == 'status') ? 9 : 0)));
            $('table tbody tr').each(function(){
                var linha = $(this);
                var atual = 0;
                linha.children().each(function(){
                    var celula = $(this).html();
                    if ((coluna == ++atual) && (celula.indexOf(valor) < 0)){
                        linha.hide();
                    }
                });
            });
        }
    });
    contador();
});
</script>
{% endblock %}
